\begin{monsterbox}{\VAR{name}}
  \begin{hangingpar}
    \textit{\VAR{size} \VAR{type}\BLOCK{ if subtype|length } (\VAR{subtype}) \BLOCK{ endif }, \VAR{alignment}}
  \end{hangingpar}
  \dndline%
  \basics[%
    armorclass = \VAR{armor_class},
    hitpoints  = {\VAR{hit_points} (\dice{\VAR{hit_dice}})},
    speed      = {\VAR{speed}}
  ]
  \dndline%
  \stats[
    STR = \stat{\VAR{strength}}, % This stat command will autocomplete the modifier for you
    DEX = \stat{\VAR{dexterity}},
    CON = \stat{\VAR{constitution}},
    INT = \stat{\VAR{intelligence}},
    WIS = \stat{\VAR{wisdom}},
    CHA = \stat{\VAR{charisma}}
  ]
  \dndline%
  \details[%
    % If you want to use commas in these sections, enclose the
    % description in braces.
    % I'm so sorry.
    languages = {\VAR{languages}},
    senses = {\VAR{senses}},
    challenge = {\VAR{challenge_rating} (\VAR{challenge_xp}), }
  ]
  \dndline%
  \BLOCK{ for sa in special_abilities }
  \begin{monsteraction}[\VAR{sa['name']}]
      \VAR{ sa['desc'] }
  \end{monsteraction}
  \BLOCK{ endfor }

  \monstersection{Aktionen}
  \BLOCK{ for action in actions }
  \BLOCK{ if action['desc'] is melee_attack }
    \monstermelee[
        name=\VAR{action['name']},
        mod=\VAR{action['attack_bonus']},
        dmg=\dice{\VAR{action['damage_dice']}}\BLOCK{ if action['damage_bonus'] } + \VAR{action['damage_bonus']}\BLOCK{endif},
    ]
  \BLOCK{ elif action['desc'] is range_attack }
    \monsterranged[
        name=Assassin's Light Crossbow,
        mod=\VAR{action['attack_bonus']},
        dmg=\dice{\VAR{action['damage_dice']}}\BLOCK{ if action['damage_bonus'] } + \VAR{action['damage_bonus']}\BLOCK{endif},
        range=80/320,
    ]
  \BLOCK{ else }
  \begin{monsteraction}[\VAR{action['name']}]
      \VAR{ action['desc'] }
  \end{monsteraction}
  \BLOCK{endif}
  \BLOCK{ endfor }

\end{monsterbox}
