\begin{tikzpicture}
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(0*\cardwidth,1*\cardheight)}]
        \VAR{spell0}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(1*\cardwidth,1*\cardheight)}]
        \VAR{spell1}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(2*\cardwidth,1*\cardheight)}]
        \VAR{spell2}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(3*\cardwidth,1*\cardheight)}]
        \VAR{spell3}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(4*\cardwidth,1*\cardheight)}]
        \VAR{spell4}
    \end{scope}
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(0*\cardwidth,0*\cardheight)}]
        \VAR{spell5}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(1*\cardwidth,0*\cardheight)}]
        \VAR{spell6}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(2*\cardwidth,0*\cardheight)}]
        \VAR{spell7}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(3*\cardwidth,0*\cardheight)}]
        \VAR{spell8}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(4*\cardwidth,0*\cardheight)}]
        \VAR{spell9}
    \end{scope}
\end{tikzpicture}
